<style>
th, td {
  min-width: 150px;
  text-align: center;
}
</style>

<h1>Activity Feed</h1>

<table>
  <tr>
    <th>ID</th>
    <th>From</th>
    <th>To</th>
    <th>Started At</th>
    <th>Completed At</th>
    <th>Duration</th>
    <th>Voicemail Recording</th>
  </tr>

  <% @calls.each do |call| %>
    <tr>
      <td><%= call.twilio_call_id %></td>
      <td><%= call.from[2..-1] %></td>
      <td><%= call.to[2..-1] %></td>
      <td><%= call.created_at ? display_datetime(call.created_at) : nil %></td>
      <td><%= call.completed_at ? display_datetime(call.completed_at) : nil %></td>
      <td><%= call.duration %> seconds</td>
      <% if call.voicemail_url %>
        <td><a href="<%= call.voicemail_url %>">Recording</a></td>
      <% else %>
        <td>N/A</td>
      <% end %>
    </tr>
  <% end %>

</table>
